.page {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 15%;
    background: #6b6b6b33;
    padding: 50px;
    cursor: pointer;
    border: none;
}

.page:hover {
    border: 1px solid #61616145;
}

.page:active {
    border: 1px solid #7b7b7b;
}
